<div class="bootstrap-wrapper">
    <div class="row container-fluid">
      <div class="col-md-2">
        <!-- Instructions  -->
      </div>
      <div class="col-md-8">
        <!-- questions  -->
        <ng-container *ngIf="questions">
          <h1 class="mt20">On Going Subject <b>{{ questions[0].quiz.title }}</b> </h1>
        </ng-container>
  
        <mat-card *ngFor="let question of questions; let i = index" class="mt10">
          <mat-card-content>
            <p>
              Q {{ i + 1 }}) <span class="ml10">{{ question.content }}</span>
            </p>
  
            <mat-divider></mat-divider>
            <br />
            <!-- <mat-radio-group [(ngModel)]="question.givenAnswer"> -->
            
            <!-- </mat-radio-group> -->
            <div class="row mt20" >
                <div class="col-md-6">
                    <input type="radio" [value] = "question.option1" 
                    name="i"
                    [(ngModel)]="question.givenAnswer"
                    >{{
                        question.option1
                    }}
                     

                </div>
                <div class="col-md-6">
                    <input type="radio" [value] = "question.option2" 
                    name="i"
                    [(ngModel)]="question.givenAnswer"
                    >{{
                        question.option2
                    }}
                    
                </div>
            </div>

            <div class="row mt20">
                <div class="col-md-6">
                    <input
                     type="radio" 
                     [value] = "question.option3" 
                     name="i"
                     [(ngModel)]="question.givenAnswer"
                    >{{question.option3 }}
                </div>
                <div class="col-md-6">
                    <input type="radio" [value] = "question.option4" 
                    name="i"
                    [(ngModel)]="question.givenAnswer"
                    >{{
                        question.option4
                    }}
                </div>
            </div>



          </mat-card-content>
          <!-- {{question | json}} -->
        </mat-card>
  
        <div class="container text-center mt20">
          <button mat-raised-button color="primary">Submit Exam</button>
        </div>
      </div>
      <div class="col-md-2">
        <!-- progress  -->
        <mat-card style="margin-top: 70px;">
          <mat-card-header>
            <mat-card-title> Progress </mat-card-title>
            <mat-card-subtitle>
              Quiz will automatically submitted when timer reaches to <b>0:0</b>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-spinner 
            mode="determinate"
            style="margin: auto;"></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>